extends layout_employee

block content
    head
    link(rel='stylesheet' type='text/css' href='/CSS/Schedule.css')
    .box
        p.Message_box_header(style='text-align: center') Message box
        p.Messages(style='text-align: center') You have 3 pending requests

    table#Profile
        tr
            th Name
            td #{first_name}
        tr
            th Status
            td= status
        tr
            th Address
            td ordbilndvej 1
        tr
            th Base Salary
            td 350kr/hour
        tr
            th Weekly hours
            td 37

