extends layout_admin

block content
    h1 Vagtplan

    // CSS
    link(rel="stylesheet", href="/javascripts/fullcalendar/main.min.css")

    // JS
    script(src="/javascripts/fullcalendar/index.global.min.js")
    script(src="/javascripts/fullcalendar/daygrid.global.min.js")
    script(src="/javascripts/fullcalendar/interaction.global.min.js")
    script(src="/javascripts/fullcalendar/resource-timeline.global.min.js")


    script.
        try {
            const events = !{JSON.stringify(events)};
            const resources = !{JSON.stringify(resources)};
            console.log("💬 Events:", events);
            console.log("📋 Resources:", resources);

            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'resourceTimelineWeek',
                    slotMinTime: "07:00:00",
                    slotMaxTime: "20:00:00",
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'resourceTimelineWeek,dayGridMonth'
                    },
                    resources: resources,
                    events: events
                });
                calendar.render();
            });
        } catch (err) {
            console.error("❌ Fejl i JSON:", err);
        }
