extends layout_admin

block content
    h1 Calendar

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.3/main.min.css")

    style.
        .fc-day-today {
            background-color: #f5f5f5;
        }

        .fc-resourceTimelineWeek .fc-day-today .fc-col-header-cell-cushion {
            font-weight: bold;
            color: #333;
        }

    script(src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.3/main.min.js")

    div#calendar(style="max-width: 1200px; margin: 40px auto;")

    script.
        const events = !{JSON.stringify(events)};
        const resources = !{JSON.stringify(resources)};
        resources.sort((a, b) => a.title.localeCompare(b.title));
        console.log("Events:", events);
        console.log("Resources:", resources);

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                initialView: 'resourceTimelineWeek',
                firstDay: 1,
                nowIndicator: false,
                now: new Date(),
                contentHeight: 'auto',
                slotDuration: {days: 1},
                slotLabelFormat: [{weekday: 'short', day: 'numeric', month: 'short'}],
                slotMinTime: "00:00:00",
                slotMaxTime: "24:00:00",
                allDaySlot: false,
                displayEventTime: false,
                editable: false,
                selectable: false,
                selectMirror: false,
                eventDurationEditable: false,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'resourceTimelineWeek,dayGridMonth'
                },
                resourceAreaHeaderContent: 'Employees',
                resources: resources,
                events: events,
            });
            calendar.render();
        });
