// tilføj extend layout og ændre stylesheet href

doctype html
html
    head
        meta(charset='UTF-8')
        title User Creation
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
    body
        h1 User Creation
        p
            if error
                .alert.alert-danger= error

        label(for='status') Status:
            select#status(name='status' form='loginform')
                option(value='Employee') Employee
                option(value='Admin') Admin

        form(action="/login" method="POST" id="loginform")
            div.form-group
                label(for='first_name') First Name:
                input#first_name.form-control(type='text', placeholder='First name (Christian)' name='first_name' required)
                label(for='family_name') Family Name:
                input#family_name.form-control(type='text', placeholder='Family name (Surname)' name='family_name' required)
                label(for='date_of_birth') Date of birth:
                input#date_of_birth.form-control(type='date' name='date_of_birth' required)
                label(for='date_of_death') Date of death:
                input#date_of_death.form-control(type='date' name='date_of_death')
                label(for='address') Address:
                input#address.form-control(type='text', placeholder='Address (twostreet 2)' name='address')
                label(for='hours_per_week') Hours per week:
                input#hours_per_week.form-control(type='number', name='hours_per_week', required)
                label(for='hourly_rate') Hourly rate in dkk:
                input#hourly_rate.form-control(type='number', name='hourly_rate', required)
                label(for='role') Role:
                input#role.form-control(type='text', placeholder='Your title' name='role' required)
                label(for='contract') Contract:
                input#contract.form-control(type='file', name='contract')
                br
            div.form-group
                label(for="username") Username
                input#username.form-control(type="text" name="username" required)
                label(for="password") Password
                input#password.form-control(type='password', name='password' required)
            button.btn.btn-primary(type='submit') Submit
