extends layout_admin

block content
    h1 Edit Employee Schedules

        form(action="/admin/edit_schedule" method="POST")
            table(border="1")
                thead
                    tr
                        th Name
                        each day in ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
                            th= day
                tbody
                    each emp in employees
                        tr
                            td= emp.first_name + ' ' + emp.family_name
                            each dayKey in ['mon','tue','wed','thu','fri','sat','sun']
                                - const val = schedules[emp.username]?.[dayKey] || ''
                                td
                                    select(name=`${emp.username}.${dayKey}`)
                                        option(value="") Select
                                        option(value="08:00-16:00" selected=(val === '08:00-16:00')) 08–16
                                        option(value="10:00-18:00" selected=(val === '10:00-18:00')) 10–18
                                        option(value="SICK" selected=(val === 'SICK')) SICK
                                        option(value="PTO"  selected=(val === 'PTO'))  PTO
                                        option(value="OFF"  selected=(val === 'OFF'))  OFF

            button(type="submit")