extends layout_admin

block content
    head
        meta(charset='UTF-8')
        title User Creation
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' type='text/css' href='/CSS/login.css')
    body
        h1 User Creation
        if errors
            ul.error-list
                each err in errors
                    li.error-item= err.msg

        .box
            .form-group
                label(for='status') Status:
                    select#status(name='status' form='usercreation_form')
                        option(value='Employee') Employee
                        option(value='Admin') Admin

            form(action="/user_creation" method="POST" id="usercreation_form")
                .creation-form
                    .form-group
                        label.form-label(for='first_name') First Name:
                        input#first_name.form-control(type='text', placeholder='First name (Christian)' name='first_name' required)
                    .form-group
                        label.form-label(for='family_name') Family Name:
                        input#family_name.form-control(type='text', placeholder='Family name (Surname)' name='family_name' required)
                    .form-group
                        label.form-label(for='date_of_birth') Date of birth:
                        input#date_of_birth.form-control(type='date' name='date_of_birth' required)
                    .form-group
                        label.form-label(for='date_of_death') Date of death:
                        input#date_of_death.form-control(type='date' name='date_of_death')
                    .form-group
                        label.form-label(for='address') Address:
                        input#address.form-control(type='text', placeholder='Address (twostreet 2)' name='address')
                    .form-group
                        label.form-label(for='hours_per_week') Hours per week:
                        input#hours_per_week.form-control(type='number', name='hours_per_week', required)
                    .form-group
                        label.form-label(for='hourly_rate') Hourly rate in dkk:
                        input#hourly_rate.form-control(type='number', name='hourly_rate', required)
                    .form-group
                        label.form-label(for='role') Role:
                        input#role.form-control(type='text', placeholder='Your title' name='role' required)
                    .form-group
                        label.form-label(for='contract') Contract:
                        input#contract.form-control(type='file', name='contract')
                    .form-group
                        label.form-label(for="username") Username
                        input#username.form-control(type="text" name="username" required)
                    .form-group
                        label.form-label(for="password") Password
                        input#password.form-control(type='password', name='password' required)
                    .form-group
                        button.btn.btn-primary(type='submit') Submit
