doctype html
head
  meta(charset='UTF-8')
  title ADMIN HOME
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='../../CSS/HOME%20ADMIN.css')
.topnav
  a.active(href='admin_home.pug') Home
  a(href='admin_schedule.pug') Schedule
  a(href='admin_employees.pug') Employees
  a(href='login.pug') Logout
img(src='WFM.webp' alt='WFM logo')
.box
  p.Message_box_header(style='text-align: center') Message box
  p.Messages(style='text-align: center') You have 3 pending requests
