extends layout_admin

block content
    h1 Vagtplan

    #calendar(style="margin-top: 20px")

block scripts
    script.
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'da',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: [
                    {
                        title: 'Eksempelvagt',
                        start: '2025-04-18T10:00:00',
                        end: '2025-04-18T16:00:00'
                    }
                ]
            });

            calendar.render();
        });
