extends layout_admin

block content
    h1 Vagtplan

    script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js')

    div#calendar(style="max-width: 900px; margin: 40px auto;")

    script.
        console.log("Events JSON string: ", '!{events}');
        const events = JSON.parse('!{events}');


    script.
        document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                allDaySlot: false,
                slotMinTime: "07:00:00",
                slotMaxTime: "20:00:00",
                events: events
            });
            calendar.render();
        });