script.
    const events = !{JSON.stringify(events || [])};
    const resources = !{JSON.stringify(resources || [])};

    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            initialView: 'resourceTimelineWeek',
            firstDay: 1,
            contentHeight: 'auto',
            slotDuration: { days: 1 },
            slotLabelFormat: [{ weekday: 'short' }],
            slotMinTime: "00:00:00",
            slotMaxTime: "24:00:00",
            allDaySlot: false,
            displayEventTime: false,
            editable: false,
            selectable: false,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'resourceTimelineWeek,dayGridMonth'
            },
            resourceAreaHeaderContent: 'Medarbejdere',
            resources: resources,

            // 👇 VIGTIGT! Brug eventData direkte her:
            events: events,     // <--- FULD array, direkte.

            // 👇 SIKRER at den ikke prøver at loade noget eksternt:
            eventSources: [],   // <- fortæl FullCalendar at INGEN eksterne kilder bruges
        });
        calendar.render();
    });
