doctype html
head
    meta(charset='UTF-8')
    title Home_Employee
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='../../CSS/HOME%20ADMIN.css')
    link(rel='stylesheet' type='text/css' href='../../CSS/Schedule.css')
.topnav
    a.active(href='Home_Employee.html') Home
    a(href='Schedule_Employee.html') Schedule
    a(href='Profile_Employee.html') Profile
    a(href='../LOGIN.html') Logout
img(src='../../Images/WFM.webp' alt='WFM logo')
.box
    p.Message_box_header(style='text-align: center') Message box
    p.Messages(style='text-align: center') You have 3 pending requests
