doctype html
html
    head
        meta(charset='utf-8')
        title WFM App
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/HOME%20ADMIN.css')
        //link(rel='stylesheet' href='/stylesheets/Shared.css')
    body
        script.
            function confirmLogout() {
                return confirm("Are you sure you want to log out?");
            }
        .topnav
            a(href='/employee/home') Home
            a(href='/employee/profile') Profile
            a(href='/employee/schedule') Schedule
            a(href='/employee/calendar') Calendar
            a(href="/admin/logout", onclick="return confirm('Are you sure you want to log out?')") Logout

        .sidebar
            img(src='/images/WFM.webp' alt='WFM Logo')
            .msgbox
                p.Message_box_header(style='text-align: center') Message box
                p.Messages(style='text-align: center') You have 3 pending requests

        block content