doctype html
html
  head
    meta(charset='utf-8')
    title WFM App
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/CSS/HOME%20ADMIN.css')
    link(rel='stylesheet' href='/CSS/Shared.css')
  body
    .topnav
      a(href='/admin_home') Home
      a(href='/admin_profile') Profile
      a(href='/admin_schedule') Schedule
      a(href='/admin_employees_list') List of Employees
      a(href='/admin_edit_employee_schedule') Edit Employee Schedule
      a(href='/login') Logout
    img(src='/Images/WFM.webp' alt='WFM Logo')
    block content
