doctype html
html
    head
        meta(charset='utf-8')
        title WFM App
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/HOME%20ADMIN.css')
        //link(rel='stylesheet' href='/stylesheets/Shared.css')

        link(rel='stylesheet' href='/stylesheets/HOME%20ADMIN.css')
        //link(rel='stylesheet' href='/stylesheets/Shared.css')

        block head


    body
        script.
            function confirmLogout() {
                return confirm("Are you sure you want to log out?");
            }

        .topnav
            a(href='/admin/home') Home
            a(href='/admin/profile') Profile
            // a(href='/admin/schedule') Schedule
            a(href='/admin/employee_list') List of Employees
            a(href='/admin/calendar') Calendar
            a(href='/admin/edit_schedule') Edit Schedule
            a(href='/admin/absence') Manage Absence
            a(href='/admin/user_creation') User Creation
            a(href="/admin/logout", onclick="return confirm('Are you sure you want to log out?')") Logout

        .sidebar
            img(src='/images/WFM.webp' alt='WFM Logo')
            .msgbox
                p.Message_box_header(style='text-align: center') Message box
                p.Messages(style='text-align: center') You have 3 pending requests

        block content

        script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.js')

        block scripts
