doctype html
head
    meta(charset='UTF-8')
    title LOGIN
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
    script(type='text/javascript' src='../public/scripts/script.js')
img(src='../public/images/WFM.webp' alt='WFM logo')
p.slogan WFM - Time is money
h1 LOGIN
.box
    p
        a.login
            | Username:
            input#usernameInput(type='text' name='username')
            label(for='usernameInput')
            |             Password:
            input#passwordInput(type='text' name='password')
            label(for='passwordInput')
            // Mads: beholder din knap som "admin" og laver submit som virker med checkLogin.
            button#submit(onclick='fetchLogin()') Submit
            button#admin(onclick='home_admin()') Admin

// rebuild this using the login API guide in links