#tableA {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    left: 160px;
    bottom: 300px;
}
#tableA tr:nth-child(2) {
    background-color: greenyellow;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#tableB {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    left: 160px;
    bottom: 270px;
}
#tableB tr:nth-child(2) {
    background-color: greenyellow;
}
/*Legend position */
.legend {
    list-style: none;
    position: relative;
    bottom: 250px;
    left: 120px;
}
.legend li {
    float: left;
    margin-right: 10px;
}
.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}
/*Legend farve og tekst*/
.legend .Available {
    background-color: #70ff70;
}
.legend .Maternity {
    background-color: #fff055;
}
.legend .PTO {
    background-color: #546fff;
}
.legend .Sick {
    background-color: #fc3f4d;
}
#tableEmployees {

}
